# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,kt,kts,scala,rs,xml,kt.spec,kts.spec,gradle}]
indent_size = 4

[*.{kt,kts}]
disabled_rules = experimental:argument-list-wrapping,import-ordering,package-name
ij_kotlin_imports_layout = *
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[**/test/**.kt]
ktlint_ignore_back_ticked_identifier = true

[*.md]
trim_trailing_whitespace = false
